.margin-height {
    width: 200px;
    font-family: sans;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
}

.margin-zero {
    margin: 0px;
    background-color: white;
}

.dropdown-menu a {
   /* color: white;*/
}

div.sliderImgOne {
    background-color: #e9ab2e;
}

.sejamVerifyImg {
    width: 450px;
    max-width: 100%;
}

.slider-btn {
    position: relative;
    top: 0;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    padding: 7px 3px;
    margin-top: 7px;
    display: inline-block;
    width: 100%;
    /*max-width: 160px;*/
    color: #000;
    font-size: 0.8vw;
    font-weight: 600;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    transition: all 0.1s linear;
}


.slider-btn:hover {
    top: -2px;
    text-decoration: none;
    color: #2f8e3b;
}


.slider-btn img {
    height: 1vw;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-left: 2%;
}

.majma-btn {
    background-color: #1794cf
}
.majma-btn:hover {
        top: -2px;
        text-decoration: none;
        color: #0000ff;
}

.marakez-btn {
    background-color: #00d31a
}
.link-icons {
        display: none;
        padding: 40px 0;
}

@media screen and (min-width: 1920px) {
    .slider-btn {
        font-size: 15px;
    }

        .slider-btn img {
            height: 19px;
        }
}

@media (max-width: 992px) {
    .slider-link-icons {
        display: none;
    }

    .link-icons {
        display: block;
    }

    .slider-btn {
        padding: 15px 3px;
        margin-top: 20px;
        margin-top: 20px;
        display: inline-block;
        width: 100%;
        max-width: initial;
        font-size: 14px;
        font-weight: 600;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
    }

        .slider-btn:hover {
            top: 0;
            text-decoration: none;
        }

        .slider-btn img {
            height: 16px;
            vertical-align: middle;
            position: relative;
            top: -2px;
            margin-left: 3%;
        }

    .carousel-item,
    .carousel-item > img {
        height: 16rem;
    }
}